{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h2 class="my-3">Welcome {{ user.first_name }} {{ user.last_name }}</h2>
    <a class="btn btn-warning" href="{% url 'edit_profile' %}">Edit Profile</a>
    <h2 class="mt-3 mb-5 text-center">Your Posts</h2>
    <div class="row">
        {% for post in data %}
            <div class="col-sm-4 mb-4">
                <div class="card">
                    <img style="height: 250px; object-fit: cover" src="{{ post.image.url }}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title"><a
                                href="{% url 'post_detail' post.id %}">{{ post.title | truncatechars:20 }}</a></h5>
                        <p class="card-text">{{ post.content | truncatechars:100 }}</p>
                        <p>Author : <strong>{{ post.author.first_name }} {{ post.author.last_name }}</strong></p>
                        <p>Category:
                            {% for cat in post.category.all %}
                                <span class="badge bg-warning">{{ cat.name }}</span>
                            {% endfor %}
                        </p>
                        <a href="{% url 'edit_post' post.id %}" class="btn btn-warning">Edit</a>
                        <a href="{% url 'delete_post' post.id %}" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}